{% extends 'web/base.html' %}
{% load static from staticfiles %}
{% block title %}關於緯謙 - 緯謙科技股份有限公司{% endblock %}
{% block bodyClass %}about{% endblock %}
{% block content %}

<div class="banner banner-dark-bg banner-bg-xs-center" style="background-image:url({% static 'img/banner-about-3.jpg' %});">
	<div class="container rightShow">
		<div class="banner-text text-center">
			<h2 style="font-weight:bold;">創新雲端技術服務</h2>
			<p>提高企業營運效能及團隊生產力</p>
		</div>
	</div>
</div>
<main>
    <div class="container">
        <h1 class="title-lg">關於緯謙</h1>
        <h3 class="title-md">簡介</h3>
        <div class="column-count-2 space-4">
        	<p>緯謙科技股份有限公司 (WiAdvance) 為緯創集團旗下子公司，專注於提供基於公有雲平台與混合雲架構的應用解決方案，為客戶量身打造適合各種企業特性的雲端服務。緯謙科技的成立目標除了成為客戶最佳的創新性雲端服務合作夥伴 (Cloud Service Provider)，並期望與客戶在業務合作上達成共同前進的目標。</p>
        	<p>在這個廣泛運用雲計算的新時代，公有雲遍地開花，緯謙科技瞭解客戶未來的需求在於能配合企業營運成長、兼備靈活彈性與高度安全性的解決方案，因此緯謙科技致力於為客戶量身打造私有雲或混合雲解決方案。傳承緯創資通致力於產品與服務創新的理念，以及跨領域的優秀表現，緯謙科技的專業服務團隊為客戶提供各種雲端解決方案，包含混合雲的災難備援服務建置、企業應用移轉雲端服務建置、雲端平台諮詢與管理服務、企業高效能行動生產力應用服務以及雲端帳務分析顧問服務等。</p>
        </div>
        <h3 class="title-md">完整的雲端產品與技術服務</h3>
        <div class="column-count-2 space-4">
        	<p>企業需要行業特色與 IT 融合的整合解決方案，緯謙科技結盟世界級公有雲平台並結合自身研發能力，滿足客戶整合架構公有雲、混合雲的需求；讓企業在提升營運能力的同時，不但突顯核心價值，更有機會發展創新的商業模式。</p>
        	<p>緯謙雲端災難備援方案，協助企業打造永續經營磐石，更整合頂尖雲端平台與系統監控應用，使災難備援建置與管理所需的 IT 人力與專業知識大幅減少，更是降低企業導入雲端備援的門檻的高性價比解決方案。</p>
        	<p>而在提升企業生產力的服務上，緯謙科技提供基於 Office 365 所開發的行動辦公應用服務豪辦事，在 Office 應用外，更整合企業常見的商務情境，滿足個人資訊管理、協同辦公與企業內部互動的需求，結合服務、平台與裝置，提高企業營運效能及團隊生產力，落實「行動優先，雲端至上」的理念。</p>
        	<p>秉持著創新雲端技術服務的精神，緯謙不斷提升己身能力，以期與客戶共同打造敏捷IT營運模式，樹立高效雲端企業的新典範！</p>
        </div>
        <div class="embed-responsive embed-responsive-16by9 space-4"><iframe src="https://www.youtube.com/embed/26cyJstx40M?rel=0" allowfullscreen></iframe></div>
    </div>
</main>

{% endblock %}